<a href="https://colab.research.google.com/github/jillginger/exercises/blob/main/Coding_Practice_20190325_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#_Self-Coding Practice_

This notebook is created for practicing python coding using examples from https://www.w3schools.com/python/.

In [ ]:
#Define a function
def my_function(fname):
   print (fname+' is a pig')
    
my_function('Hahaha')

Hahaha is a pig

In [ ]:
#设定函数的初始值
def my_function(country=' Atlantis'):
   print('I am from'+ country)
my_function()
my_function(' Norway')
my_function(' China')

I am from Atlantis
I am from Norway
I am from China

In [ ]:
#return to a 算数式子
def my_function(x):
    return 5*x
my_function(926)
#Qestion：Python啥时候用return，啥时候用print？文字用print，非string用return？？？

4630

In [ ]:
#Recursion
def tri_recursion(k):
    if k>0:
        result = k+ tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result
print("\n\nRecursion Example Results")
#'\n'means a new line
tri_recursion(6)
#Question: why no listing fro 21 to 1? The system shuold print result(k=6), result(k=5)... to result(k=1), right?

Recursion Example Results
1
3
6
10
15
21

21